
body{
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
}
header{
    background-color: #2F2F2F;
    color: white;
    padding: 12px 12px;
    font-size: 30px;
}
.title{
    display: inline-block;
    text-align: left;
    width: 49%;
}
header .phone{
    display: inline-block;
    text-align: right;
    width: 49%;
}
footer .phone{
    text-align: center;
}
.banner{

}
main{
    
}
.iconTick{

}
.description{

}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    header .phone, .title{
        display: block;
        width: 100%;
        font-size:20px;
    }
    header .phone{
        text-align: left;
    }
}

/* Iphone 5 */
@media (max-width: 320px) {
    header .phone, .title{
        display: block;
        width: 100%;
        font-size: 20px;
    }
    header .phone{
        text-align: left;
    }
}